# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
   graph_handler:
       class: AppBundle\Handler\GraphHandler
       arguments:
            - "@doctrine.orm.entity_manager"

